{{#each model as |quote|}}
  <div class='quote'>
    Thus spake {{quote.quotee}}: {{quote.text}}
  </div>
{{/each}}

{{#submit-quote-form}}
Save
{{/submit-quote-form}}

<a class='add-quote-icon'>anchor tag stuff</a>
